#!/usr/bin/env bash  
sleep 10
echo "Starting minerd for Monero CPU Mining"
sudo /home/arsenick/cpuminer-multi/minerd -S -B -a cryptonight -o stratum+tcp://pool.minexmr.com:7777 -u {{ xmr_wallet }}.{{ ansible_nodename }} -p x -t {{ processor_count }}
